{% extends('base.html.twig') %}
{% block title %}
    Thing
{% endblock %}
{% block body %}
    <h1>Thing</h1>
    {#TODO: meter validacion de usuario logado#}
    {#{% include 'fbSdk.html.twig' %}#}
    <h1>List of Action for Thing {{ thing.root }}</h1>
    {% for action in thing.getActions() %}
        <p>
            HTTP: {{ action.getHttpVerb() }} | ROUTE: {{ action.getRoute() }} |
            Desciption: {{ action.getDescription() }}
            <button onclick="openFriendDialog({{ action.getId() }})">Manage</button>
        </p>
    {% endfor %}

    <div id="dialog" title="List of friends">
        <ul>
            {% for friend in friends %}
                <li>{{ friend.name }}
                    {#{%  if friend.action %}#}
                </li>
            {% endfor %}

        </ul>
    </div>

    <script>
        hideFriendDialog();


        function hideFriendDialog(){
            $('#dialog').hide();
        }

        function showFriendDialog(){
            $('#dialog').show();
        }

        function openFriendDialog(actionId){
            showFriendDialog();
            console.log("clicked this action id "+actionId);
            $("#dialog").dialog({
                modal:true
            });
        }
    </script>

{% endblock %}
