{% extends('Common/base.html.twig') %}
{% block title %}
    Thing
{% endblock %}
{% block body %}
    {#<h1>{{ thingId }}</h1>#}
    {#<h1>Thing</h1>#}
    {% verbatim %}
        <!--<div id="thing_info2"></div>-->
            <!--{{ thing.thingConnected()|json_encode|raw }}-->


    <div class="card">
    <div class="card-body">

    <script id="thing_template3" type="text/x-handlebars-template">
        <h1>{{thing.name}} | {{thing.brand}} </h1>
        {{#if thing.links}}
            {{#if thing.links.actions}}
                {{#if thing.links.actions.resources}}
                    {{#each thing.links.actions.resources}}
                        {{@key}} | {{this.values}} | {{this.id}} |

                                <button onclick='openFriendDialog3("{{@key}}")'>Admin</button><br>
                    {{/each}}
                {{/if}}
            {{/if}}
        {{/if}}
    </script>
    <div id="thing_info3"></div>

    {% endverbatim %}
    </div>
    </div>

    {% verbatim %}
    <script id="thing_template2" type="text/x-handlebars-template">
    <h1>thing_template2</h1>
    <p>
        {{ thing }}
    </p>
    </script>

    {% endverbatim %}


    <script>
        $(document).ready(
            function () {
                $.ajax({
                    url: "{{ url('api_thing_info', {thingId :  thingId } ) }}",
                    success: function (thing) {
                        if (thing.status === true) {
                            // status conection is OK
                            // console.log("status_true");
                            var source = document.getElementById("thing_template3").innerHTML;
                            var template = Handlebars.compile(source);
                            // console.log(thing.data);
                            var data = {thing: thing.data};
                            var html = template(data);
                            document.getElementById("thing_info3").innerHTML = html;
                        }
                        if (thing.status === false) {
                            // TODO : redirect to error
                            // something wrong with thing conection
                            // console.log("status_false")
                        }
                        // console.log(thing);

                    }
                })

            });

    </script>


    <div id="thing_info"></div>


    {% verbatim %}
        <script id="action_template" type="text/x-handlebars-template"></script>
    {% endverbatim %}




    <div id="dialog" title="List of friends"></div>

    <script>
        var sharingStatus = {{ sharingStatus|json_encode|raw }};
        var thingId = '{{ thing.getId() }}';
        let friends = {{ friends|json_encode|raw }};
        // alert(sharingStatus);

        hideFriendDialog();


        function hideFriendDialog() {
            $('#dialog').hide();
        }

        function showFriendDialog() {
            $('#dialog').show();
        }

        function setFriendButton(friend,actionId) {

            console.log(friend);
            var wrapperContent = ' (already shared)';
            var buttonWrapper = $("#friendButtonWrapper_" + friend.friendId);

            if (!friend.actions.includes(actionId)) {
                
                var shareActionWithFriendUrl = getShareActionWithFriendUrl(actionId, friend.friendId);
                wrapperContent = '<button class="not_shared_action" onclick=shareThisAction("'+shareActionWithFriendUrl+'")> Share ' + '</button>';
                // console.log('shareActionWithFriendUrl2222 '+shareActionWithFriendUrl);
                // setShareButton(shareActionWithFriendUrl);

            }
            buttonWrapper.append(wrapperContent);
        }

        function openFriendDialog3(actionName) {
            var actionId = getActionIdByActionName(actionName);
            // console.log("In thing thingId[" + thingId + "] clicked this action id[" + actionId + "]");
            // TODO: buil html ul with js
            showFriendDialog();
            var html = '<ul>';
            var li = '';
            for (i = 0; i < friends.length; i++) {
                var friendId = friends[i]["friendId"];
                var friendName = friends[i]["name"]
                var liElement = '<li>'+friends[i]["name"]+'<span id="friendButtonWrapper_'+friendId+'"></span></li>';
                li += liElement;
            }
            if(li === ''){
                li = '<li>Onwer has no facebook friends</li>';
            }
            html += li;
            html += '</ul>';
            // }

            $('#dialog').html(html);
            $("#dialog").dialog({
                modal: true,
                width: 600
            });

            for (i = 0; i < friends.length; i++) {
                setFriendButton(friends[i], actionId)
            }
        }

        function getActionIdByActionName(actionName) {

            // console.log('actionName=' + actionName + ' thingId=' + thingId);
            for (var i in sharingStatus.things) {
                var oneThingSharingStatus = sharingStatus.things[i];
                for (var j in oneThingSharingStatus.actions){
                    if(actionName == oneThingSharingStatus.actions[j].actionName){
                        return oneThingSharingStatus.actions[j].actionId;
                    }

                }
            }
            // TODO: redirect to error?='ActionId not found'
        }


        function getShareActionWithFriendUrl(actionId, friendId){
            $.ajax({
                async: false,
                method: "GET",
                url: "{{ url('url_provider_for_api_share_action') }}",
                dataType: "json",
                data: {actionId: actionId, friendId: friendId},
                success: function (response) {

                    // setShareButton(response);
                    console.log("getShareActionWithFriendUrlSUCCESSSS "+response);
                    return response;
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // console.log('getShareActionWithFriendUrlError');
                var response = JSON.parse(jqXHR.responseText);
                window.location.href = "{{ url('error') }}?message=" + response.message;
            });

        }

        function shareThisAction(shareActionWithFriendUrl){

            $.ajax({
                url: shareActionWithFriendUrl,
                dataType: "json",
                success: function (response) {


                    // TODO use symfony url generator
                    var shareLink="/friend/thing/1/action/1/";
                    window.location.href = "{{ url('success') }}?message="+response.message+"&shareLink="+shareLink;
                    }
            }).fail( function( jqXHR, textStatus, errorThrown ) {
                    var response = JSON.parse(jqXHR.responseText);
                    window.location.href = "{{ url('error') }}?message="+response.message;
            });

        }
    </script>

{% endblock %}
