{% extends('base.html.twig') %}
{% block title %}
    Thing
{% endblock %}
{% block body %}
    <h1>Thing</h1>
    {#TODO: meter validacion de usuario logado#}
    {#{% include 'fbSdk.html.twig' %}#}
    <h1>List of Action for Thing {{ thing.root }}</h1>
    {% for action in thing.getActions() %}
        <p>
            HTTP: {{ action.getHttpVerb() }} | ROUTE: {{ action.getRoute() }} |
            Desciption: {{ action.getDescription() }}
            <button onclick="openFriendDialog({{ action.getId() }})">Manage</button>
        </p>
    {% endfor %}

    <div id="dialog" title="List of friends">
        {#<ul>#}
            {#{% for friend in friends %}#}
                {#<li>#}
                    {#{{ friend.name }}#}
                    {#{{ friend. }}#}
                    {#{% if friend.getF%}#}
                {#</li>#}
            {#{% endfor %}#}

        {#</ul>#}
    </div>

    <script>
        var shargingStatus = {{ sharingStatus|json_encode|raw}};
        var thingId = '{{ thing.getId() }}';
        let friends = {{ friends|json_encode|raw }};

    // alert(shargingStatus);

        hideFriendDialog();


        function hideFriendDialog(){
            $('#dialog').hide();
        }

        function showFriendDialog(){
            $('#dialog').show();
        }

        function returnProperTypeOfFriend(friend){
            // if(friend.)
            return friend.name+setShareButton();
        }

        function setShareButton(){
            return '<button> Share </button>';
        }
        function denyShareButton(){
            return '<button>Deny</button>';
        }

        function openFriendDialog(actionId){
            showFriendDialog();
            console.log("In thing thingId["+thingId+"] clicked this action id["+actionId+"]");
            var html = '<ul>';
            // console.log(friends);
            for(i=0; i<friends.length; i++){
                html += '<li>'+returnProperTypeOfFriend(friends[i])+'</li>';
            }
            html +='</ul>';

            $('#dialog').html(html);
            $("#dialog").dialog({
                modal:true,
                width:600
            });
        }
    </script>

{% endblock %}
