{% extends('base.html.twig') %}
{%  block title %}
    List of Actions
{% endblock %}
{% block body %}
    <h1>Thing</h1>
{#TODO: meter validacion de usuario logado#}
{#{% include 'fbSdk.html.twig' %}#}
<h1>List of Action for Thing {{ thing.root }}</h1>
{% for action in thing.getActions() %}
    <p>
            HTTP: {{ action.getHttpVerb() }} | ROUTE: {{ action.getRoute() }} | Desciption: {{ action.getDescription() }}
        <a href="{{ path('owner_things') }}">Share with friend</a>
    </p>
{% endfor %}
{% endblock %}
