{% extends('Common/base.html.twig') %}
{% block title %}
    Thing
{% endblock %}
{% block body %}
    {#<h1>{{ thingId }}</h1>#}
    {#<h1>Thing</h1>#}
    {% verbatim %}
        <!--<div id="thing_info2"></div>-->
            <!--{{ thing.thingConnected()|json_encode|raw }}-->


    <script id="thing_template3" type="text/x-handlebars-template">
        <h1>{{thing.name}} | {{thing.brand}} | {{thing.id}} </h1>
        {{#if thing.links}}
            {{#if thing.links.actions}}
                {{#if thing.links.actions.resources}}
                    {{#each thing.links.actions.resources}}
                        {{@key}} | {{this.values}} | {{this.id}} |

                                <button onclick='openFriendDialog3("{{@key}}")'>Admin</button><br>
                    {{/each}}
                {{/if}}
            {{/if}}
        {{/if}}
    </script>
    <div id="thing_info3"></div>

    {% endverbatim %}

    {% verbatim %}
    <script id="thing_template2" type="text/x-handlebars-template">
    <h1>thing_template2</h1>
    <p>
        {{ thing }}
    </p>
    </script>

    {% endverbatim %}


    <script>
        $(document).ready(
            function () {
                $.ajax({
                    url: "{{ url('api_thing', {thingId :  thingId } ) }}",
                    success: function (thing) {
                        if (thing.status === true) {
                            // status conection is OK
                            // console.log("status_true");
                            var source = document.getElementById("thing_template3").innerHTML;
                            var template = Handlebars.compile(source);
                            // console.log(thing.data);
                            var data = {thing: thing.data};
                            var html = template(data);
                            document.getElementById("thing_info3").innerHTML = html;
                        }
                        if (thing.status === false) {
                            // TODO : redirect to error
                            // something wrong with thing conection
                            // console.log("status_false")
                        }
                        // console.log(thing);

                    }
                })

            });

    </script>


    <div id="thing_info"></div>


    {% verbatim %}
        <script id="action_template" type="text/x-handlebars-template"></script>
    {% endverbatim %}




    <div id="dialog" title="List of friends"></div>

    <script>
        var sharingStatus = {{ sharingStatus|json_encode|raw }};
        var thingId = '{{ thing.getId() }}';
        let friends = {{ friends|json_encode|raw }};
        // alert(sharingStatus);

        hideFriendDialog();


        function hideFriendDialog() {
            $('#dialog').hide();
        }

        function showFriendDialog() {
            $('#dialog').show();
        }

        function hasAlreadyBeenShared(friend,actionId) {

            var retval = friend.name;

            if (friend.actions.includes(actionId)) {
                retval += denyShareButton();
            }
            else{
                // TODO use symfony url generator for shareActionWithFriendUrl
                var shareActionWithFriendUrl = "/owner/share/action/"+actionId+"/friend/"+friend.friendId;
                retval += setShareButton(shareActionWithFriendUrl);
            }
            return retval;
            // console.log(friend);
        }

        function setShareButton(shareActionWithFriendUrl) {
            console.log("shareActionWithFriend "+shareActionWithFriendUrl);
            return '<button style="color:green" onclick=shareThisAction("'+shareActionWithFriendUrl+'")> Share </button>';
        }

        function denyShareButton() {
            return '<button style="color:red">Deny</button>';
        }

        function openFriendDialog3(actionName) {
            var actionId = getActionIdByActionName(actionName);
            // console.log("In thing thingId[" + thingId + "] clicked this action id[" + actionId + "]");
            // TODO: buil html ul with js
            showFriendDialog();
            var html = '<ul>';
            var li = '';
            for (i = 0; i < friends.length; i++) {
                var liElement = '<li>' + hasAlreadyBeenShared(friends[i],actionId) + '</li>';
                li += liElement;
            }
            if(li === ''){
                li = '<li>Onwer has no facebook friends</li>';
            }
            html += li;
            html += '</ul>';
            // }

            $('#dialog').html(html);
            $("#dialog").dialog({
                modal: true,
                width: 600
            });
        }

        function getActionIdByActionName(actionName) {

            // console.log('actionName=' + actionName + ' thingId=' + thingId);
            for (var i in sharingStatus.things) {
                var oneThingSharingStatus = sharingStatus.things[i];
                for (var j in oneThingSharingStatus.actions){
                    if(actionName == oneThingSharingStatus.actions[j].actionName){
                        return oneThingSharingStatus.actions[j].actionId;
                    }

                }
            }
            // TODO: redirect to error?='ActionId not found'
        }

        function shareThisAction(shareActionWithFriendUrl){

            $.ajax({
                url: shareActionWithFriendUrl,
                dataType: "json",
                success: function (response) {

                    // TODO use symfony url generator
                    var shareLink="/friend/thing/1/action/1/";
                    window.location.href = "{{ url('success') }}?message="+response.message+"&shareLink="+shareLink;
                    }
            }).fail( function( jqXHR, textStatus, errorThrown ) {
                    var response = JSON.parse(jqXHR.responseText);
                    window.location.href = "{{ url('error') }}?message="+response.message;
            });

        }
    </script>

{% endblock %}
