<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <script src="{{ asset('assets/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('assets/handlebars.min.js') }}"></script>
            <link href="{{  asset('assets/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/app.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" href="{{ asset('img/sac.ico') }}">


    </head>

    <body>
    {% block header %}{% endblock %}
    <div class="row">

    <!-- Begin page content -->
    <main role="main" class="container">
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </main>

    </div>
    {#    <footer class="footer">#}
    {#        <div class="container">#}
    {#            <span class="text-muted">Place sticky footer content here.</span>#}
    {#        </div>#}
    {#    </footer>#}

    </body>
</html>
