{% extends('base.html.twig') %}
{% block title %}
    Info Owner
{% endblock %}
{% block body %}
    <h1>General INFO</h1>

    {#TODO: meter validacion de usuario logado#}
    {#{% include 'fbSdk.html.twig' %}#}

    {% verbatim %}
        <script id="owner_template" type="text/x-handlebars-template">
            <p>Hello, {{ownerName}}</p>
        </script>
    {% endverbatim %}
    <div id="owner_info"></div>

    <h1>List of Things</h1>

    {% verbatim %}
        <script id="thing_template" type="text/x-handlebars-template">
            <p>Hello, {{ thingName }}</p>
        </script>
    {% endverbatim %}
    <div id="thing_info"></div>


    <div id="things"></div>

    <form action="{{ path('thing_create') }}" method="post">
        <p>id (url)</p>
        <input type="text" name="root">
        <p>user</p>
        <input type="text" name="user">
        <p>password</p>
        <input type="password" name="password">
        <input type="submit" value="Add Thing">
    </form>
    {#<h1>{{ url('api_owner') }}?fbDelegated={{ ownerFbDelegated }}</h1>#}
    <script>
        $(document).ready(
            function () {
                $.ajax({
                    url: "{{ url('api_owner') }}?fbDelegated={{ ownerFbDelegated }}",
                    success: function (owner) {
                        // console.log(owner);

                        // fill owner info
                        var source = document.getElementById("owner_template").innerHTML;
                        var template = Handlebars.compile(source);
                        var data = {ownerName: owner.name};
                        var html = template(data);
                        document.getElementById("owner_info").innerHTML = html;

                        var arrayThings = [];
                        owner.things.forEach(function (thing) {
                            arrayThings.push(thing.id);
                            // arrayThings[] = thing.id;
                        });
                        // console.log(owner.things);
                        // console.log(arrayThings);
                        $('#things').text(arrayThings);
                        // fille thing info
                    }
                })

            });
        // function getOwnerInfo(){
        // }
    </script>
{% endblock %}