<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Info Owner{% endblock %}</title>
</head>
<body>
<h1>General INFO</h1>
{#TODO: meter validacion de usuario logado#}
{#{% include 'fbSdk.html.twig' %}#}
<p>Hello, {{ complete_name }}</p>
<p>This are your actual things (click or details or edition):</p>
{% for thing in things %}
    <li>
    {% if thing.conection == true %}
        <a href="{{ thing.url }}">{{ thing.name }}</a>
    {% else %}
        Please check credentials or conection, found problems with thing with id {{ thing.id }} message: {{ thing.message }}.
    {% endif %}
    </li>
{% endfor %}
<h1>Add new Thing</h1>

<form>
    <p>id (url)</p>
    <input type="text" name="id">
    <p>user</p>
    <input type="text" name="user">
    <p>password</p>
    <input type="password" name="password">
    <input type="button" value="Add Thing">
</form>
</body>
</html>
