{% extends('Common/base.html.twig') %}
{% block title %}
    Info Owner
{% endblock %}
{% block body %}

    <div class="card">
        <div class="card-body">

            <h2>General INFO</h2>

            {% verbatim %}
                <script id="owner_template" type="text/x-handlebars-template">
                    <p>Hello, {{ownerName}}</p>
                </script>
            {% endverbatim %}
            <div id="owner_info"></div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>List of Things</h2>

            {% verbatim %}
                <script id="things_template" type="text/x-handlebars-template">
                    {{#each things}}
                        <div class="alert alert-dark" role="alert"  id="thing_id_{{this.id}}">{{this.id}}</div>
                    {{/each}}
                </script>
            {% endverbatim %}

            <div id="things_info"></div>
            <div id="things"></div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>Add new Thing</h2>

            <form>
                <div class="form-group row">
                    <label for="root" class="col-sm-2 col-form-label col-form-label-sm">Id</label>
                    <div class="col-sm-10">
                        <input type="text" name="root" class="form-control" id="root" aria-describedby="emailHelp"
                               placeholder="url">
                    </div>
                    {#            <small  class="form-text text-muted">(url)</small>#}
                </div>
                <div class="form-group row">
                    <label for="user" class="col-sm-2 col-form-label col-form-label-sm">User</label>
                    <div class="col-sm-10">
                        <input type="text" name="root" class="form-control" id="user" aria-describedby="emailHelp"
                               placeholder="user in thing">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="root" class="form-control" id="password"
                               aria-describedby="emailHelp"
                               placeholder="password in thing">
                    </div>
                </div>
                <input type="submit" value="Add Thing" class="btn btn-primary">
            </form>
        </div>
    </div>


    <script>
        $(document).ready(
            function () {
                $.ajax({
                    url: "{{ url('api_owner') }}",
                    success: function (owner) {

                        // fill owner info
                        var ownerTemplate = Handlebars.compile(document.getElementById("owner_template").innerHTML);
                        document.getElementById("owner_info").innerHTML = ownerTemplate({ownerName: owner.name});

                        // fill Things with ConnectedThings
                        owner.things.forEach(function (thing) {
                            fillOneThingOfOwner(thing.urlForThingConnected, thing.urlForThingInfo, thing.id);
                        });

                        // Things
                        var thingTemplate = Handlebars.compile(document.getElementById("things_template").innerHTML);
                        document.getElementById("things_info").innerHTML = thingTemplate({things: owner.things});;
                    },
                    error: function () {
                        window.location.replace("{{ url('login') }}");
                    }
                })
            });

        function fillThingRow(thingConnected, urlForThingInfo, thingId) {

            var thingElement = $("#thing_id_" + thingId);

            if (thingConnected.status === true) {
                // TODO manage thing front structure with handlebars
                thingElement.addClass('thing_ok');
                // add name and brand
                thingElement.append(' | ' + thingConnected.data.name + ' | ' + thingConnected.data.brand);
                // add View/Admin thing
                thingElement.append('<button onclick="window.location.href = \'' + urlForThingInfo +
                    '\'">Admin</button>');

            }
            else {
                thingElement.addClass('thing_error');
                thingElement.append(' | ' + thingConnected.message);

            }
        }


        function fillOneThingOfOwner(urlForThingConnected, urlForThingInfo, thingId) {

            console.log("urlForThingConnected"+urlForThingConnected);
            console.log("urlForThingInfo"+urlForThingInfo);
            $.ajax({
                url: urlForThingConnected,
                success: function (thingConnectedInfo) {
                    fillThingRow(thingConnectedInfo, urlForThingInfo,thingId);
                },
                error: function (thingConnectedInfo) {
                    let retval = {'status':false,'message':thingConnectedInfo.responseText};
                    fillThingRow(retval, '', thingId);
                }
            });
        }

    </script>
{% endblock %}