{% extends('Common/base.html.twig') %}
{% block title %}
    List of Friends
{% endblock %}
    {% block header %}
        {% include 'Friend/friend_header.html.twig' %}
    {% endblock %}
{% block body %}

    <h1>Hello, {{ friend.name }} </h1>
    <p>Your friend <b>{{ ownerName }} </b> has kindly shared this actions with you:</p>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-sm table-hover">
                <thead class="thead-dark">
                <th>Thing Action Name</th>
                <th>Show</th>
                </thead>
                <tbody>
                {% for action in friend.actions %}
                    <tr>
                        <td> {{ action.getName }} {{ action.getThing.getId }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('friend_see_action', {'thingId' : action.getThing.getId, 'actionId' : action.getId }) }}">Show</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
        </div>
    </div>
{% endblock %}